<div class="products container" *ngIf="products">
  <div class="row">
    <div class="col-6 col-sm-3 mb-4 prod" *ngFor="let product of products">
      <a [routerLink]="['/products', product.id]" routerLinkActive="router-link-active" >
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src = 'http://localhost/welcome/api/marvel/uploads/{{product.product_image}}'>
              <div class="prod-name">
                {{ product.product_name }}
              </div>
              <p class="prod-price">&#8358; {{ product.price }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

